<section class="h-screen flex items-center px-10">

  <div class="grid md:grid-cols-2 gap-10 w-full items-center">

    <!-- TEXTO -->
    <div>
      <h1 class="text-5xl font-bold hero-title">
        Hola, soy Esteban 👋
      </h1>

      <p class="mt-4 text-xl text-gray-300 hero-sub">
        Ingeniero de Sistemas especializado en Angular y .NET
      </p>

      <p class="mt-4 text-gray-400">
        Desarrollo soluciones web modernas, eficientes y con experiencias visuales atractivas.
      </p>

      <div class="mt-6 flex gap-4">
        <a href="#projects" class="px-6 py-3 bg-cyan-500 rounded-lg hover:bg-cyan-400 transition shadow-lg">
          Ver proyectos
        </a>

        <a href="#contact"
          class="px-6 py-3 border border-cyan-400 rounded-lg hover:bg-cyan-400 hover:text-black transition">
          Contáctame
        </a>
      </div>
    </div>

    <div class="flex justify-center">
      <div class="hero-img-wrapper">
        <img src="../../../assets/sinfondo.png" class="w-80 hero-img" alt="profile">
      </div>
    </div>

  </div>

</section>